.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;

    

}

.task-title{ 
    cursor: pointer;
}

.buttons-container{
    display: flex;
}

.remove-task-button{
    background-color: #444;
    border: none;
    font-size: 18px;
    color:chartreuse;
    margin: 0 5px;
    
}

.see-task-details-button{
    background-color: #444;
    border: none;
    font-size: 18px;
    color:chartreuse;
    padding-right: 5px;
    margin: 0 5px;
}